{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card mt-5 register-card">
        <div class="card-body">
        <div class="card-title py-2">
          <h4>Reset Password</h4>
        </div>
        <hr>
          <form action="{% url 'reset-user-password' uidb64 token %}" method="POST">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}
            
            
            <div class="form-group">
                <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="passwordField"
                class="form-control form-control-sm"
                
              />
              <a><small class="float-right py-2 showPasswordToggle">SHOW</small></a>
            </div>
            </br>
            <div class="form-group">
                <label for="password">Confirm Password</label>
              <input
                type="password"
                name="password2"
                id="password2Field"
                class="form-control form-control-sm"
                
              />
              
            </div>
            </br>
            <input type="submit" value="Reset" class="btn btn-block btn-primary submit-btn">
            
          </form>
          <br>
          <span><a class = "nonunderlined-a" href="{% url 'login' %}">Login here</a></span>
         
        </div>
      </div>
      </div>
    </div>
  
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}
